[Unit]
Description=Execute pocketsmith-tg-bot as a Linux service
After=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
User=root
